<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Care</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
        #plantc{
            position: absolute ;
            top: 10vh;
            left: 30vw;
        }
    </style>
</head>

<body>

    <!-- <div class="plantcare"> -->
    <div class="main">


    </div>

    <div class="rectangle18">



    </div>
    <div class="rectangle12"></div>
    <div class="ellipse24">
    </div>




    <header>
        <a id="plantc"  href="/">
            <i class='bx bxs-leaf '></i>
            <span class="logo-text">Plant Care</span>
        </a>
        
        <div class="nav_home">
            <nav>
                <ul>
                    <a class="aboutus" href="/about">About Us</a>
                    <a class="contactus" href="/contact">Contact Us</a>
                </ul>
            </nav>
        </div>




        </div>

        </div>
        <div class="rect15">
            <div class="user-controls">
                <div><i class='bx bx-search-alt-2'></i></div>
                <div><i class='bx bx-user'></i></div>
                <div><i class='bx bx-menu'></i></div>



            </div>
        </div>
    </header>
    <div class="ellipse"></div>

    <div class="ellipse23"></div>
    <div class="social_icons">
        <div>
            <ul>
                <a href="#"><i class='bx bxl-facebook' ></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-twitter' ></i></a>
            </ul>

        </div>



    </div>


    <div class="About_web">
        <h3>
            #About Website
        </h3>
        <p>
            This website provides an advanced platform for plant enthusiasts and caretakers by leveraging machine learning to offer a comprehensive plant care experience. Users can upload images of their plants, and the system identifies the species using Convolutional
            Neural Networks (CNNs) and pre-trained models like ResNet or MobileNet. Additionally, it assesses plant health to detect issues such as pests or nutrient deficiencies. Based on the plant's identification and condition, it generates tailored
            care recommendations. The technology stack includes a frontend developed in HTML, CSS, and JavaScript (React or plain JS) and a backend built with Python (Flask or Django) that integrates with TensorFlow or PyTorch for ML functionalities.
            For data storage, it uses databases like MongoDB, PostgreSQL, or MySQL.

        </p>

    </div>

    <div class="about_us">
        <div class="aman">
            <div class="profile_pic">
                <img src="static/profile.jpeg" alt="loding">

            </div>
            <div class="name_">
                <h5>Aman Sahani</h5>

            </div>
            <div class="about_text">
                <p>Hi! My name is Aman, I am a UI/UX designer. I am a creative person, and I love my work. I am responsible, I try to listen, I value and respect the opinion of each person. Check on my profile</p>
            </div>
            <div class="gmail">
                <p>amansahani60@gmail.com</p>

            </div>

            <div class="insta">
                <a href="https://www.instagram.com/sahaniaman480/"><i class='bx bxl-instagram'>Instagram</i></a>

            </div>
            <div class="github">
                <a href="https://github.com/sahaniaman "><i class='bx bxl-github'>Github</i></a>

            </div>
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/aman-sahani-279989211/"><i class='bx bxl-github'>LinkedIn</i></a>

            </div>


        </div>

        <div class="harshit">
            <div class="profile_pic">
                <img src="static/profile.jpeg" alt="loding">

            </div>
            <div class="name_">
                <h5>Harshit Singh</h5>

            </div>
            <div class="about_text">
                <p>Hi! My name is Aman, I am a UI/UX designer. I am a creative person, and I love my work. I am responsible, I try to listen, I value and respect the opinion of each person. Check on my profile</p>
            </div>
            <div class="gmail">
                <p>hs104377@gmail.com</p>

            </div>

            <div class="insta">
                <a href="https://www.instagram.com/legend79850/"><i class='bx bxl-instagram'>Instagram</i></a>

            </div>
            <div class="github">
                <a href="https://github.com/legend877"><i class='bx bxl-github'>Github</i></a>

            </div>
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/harshit-singh-6218872a9/"><i class='bx bxl-github'>LinkedIn</i></a>

            </div>


        </div>


        <div class="apoorva">
            <div class="profile_pic">
                <img src="static/profile.jpeg" alt="loding">

            </div>
            <div class="name_">
                <h5>Apoorva Gupta</h5>

            </div>
            <div class="about_text">
                <p>Hi! My name is Aman, I am a UI/UX designer. I am a creative person, and I love my work. I am responsible, I try to listen, I value and respect the opinion of each person. Check on my profile</p>
            </div>
            <div class="gmail">
                <p>apoorvagupta9068@gmail.com</p>

            </div>

            <div class="insta">
                <a href="https://www.instagram.com/techtactics4?igsh=N3ViaDFia2syb3Fu"><i class='bx bxl-instagram'>Instagram</i></a>

            </div>
            <div class="github">
                <a href="https://github.com/apoorvagupta9068"><i class='bx bxl-github'>Github</i></a>

            </div>
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/apoorva-g-9ba552253/"><i class='bx bxl-github'>LinkedIn</i></a>

            </div>


        </div>



    </div>








</body>

</html>